body{
    background: black
}

#agus-derose {
    position: relative;
    top: 2.1px;
}

#agus-derose:hover, .bi-code:hover  {
        color: #c752a09b;
}

.nav-link:hover {
    color: #c752a09b;
}

#header {
    background-color: black;
}

.text-platzi {
    color: #c752a0 !important;
}

.btn-platzi {
    background-color: #c752a0;
    color: whitesmoke;
}

.social-icon {
    width: 10px;
}

.btn-more:hover {
    background-color: #c752a0;
    color: white;
}

.code-icon {
    color: whitesmoke;
}

.btn-platzi:hover {
    background-color: #853a6c;
}

#header img {
    width: 80px;
}

#main .carousel-inner img {
    min-height: 50vh;
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    color: whitesmoke;
    z-index: 1;
}

#carousel .overlay .container, #carousel .overlay .row {
    height: 100%;
}

/* Carousell Certificados */



/* !Carousell Certificados */

#conocimientos, #leave-message, #coderhouse {
    color: whitesmoke;
}

.card, .card img {
    background-color: black;
    border: .5px solid whitesmoke;
    border-radius: 0;
}

.badge h6 {
    display: inline-block;
}

.personal-goal {
    border: .5px solid whitesmoke;
}

#personal-goal {
    background-color: black;
    color: whitesmoke;
}

#personal-goal img {
    max-width: 100%;
}

.goal {
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;
}

.form-control {
    resize: none;
}

.form-text {
    color: whitesmoke;
}

#footer {
    background-color: black;
}

#footer a {
    color: whitesmoke;
    text-decoration: none;
}

.fab:hover {
    color: #c752a0;
}



@media screen and (max-width:500px) {
    .coder-carousel {
      height: 30vh !important;
    }

  }